<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit article</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="button-class">
        <form method="GET" action="/">
            <input type="submit" name="btn-redirect" value="Home">
        </form>
    </div>
    <form action="/articles/{{title}}/edit/done" method="POST">
        <div class="result-class">
            <label>Title:</label>
            <input type="text" class="article-class" name="title" value="{{title}}">
        </div>
        <div class="result-class">
            <label>Author:</label>
            <input type="text" class="article-class" name="author" value="{{author}}">
        </div>
        <div class="result-class">
            <label>Content:</label>
            <input type="text" rows="4" cols="50" class="article-class" name="content" value="{{content}}"></textarea>
        </div>
        <div class="result-class">
            <button type="submit" class="btn-success">Save</button>
        </div>
    </form>
</body>
</html>